# Función map()

In [3]:
numeros = [2,5,10,23,50,33]

def doblar(numero):
    return numero*2

m = map(doblar, numeros)

In [4]:
list(m)

[4, 10, 20, 46, 100, 66]

In [5]:
#Usando una función lamdba
list( map(lambda x:x*2, numeros) )

[4, 10, 20, 46, 100, 66]

In [7]:
#Usando dos listas
a = [1,2,3,4,5]
b = [6,7,8,9,10]

list( map(lambda x,y:x*y, a,b) )

[6, 14, 24, 36, 50]

In [8]:
#.. con tres

c = [11,12,13,14,15]

list( map(lambda x,y,z:x*y*z, a,b,c) )

[66, 168, 312, 504, 750]

In [9]:
class Persona:
    
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad
        
    def __str__(self):
        return "{} de {} años".format(self.nombre, self.edad)
    
personas = [
    Persona("Juan", 35),
    Persona("Marta", 16),
    Persona("Manuel", 76),
    Persona("Eduardo", 12)
]
personas

[<__main__.Persona at 0x22d15b254f0>,
 <__main__.Persona at 0x22d15b258e0>,
 <__main__.Persona at 0x22d15b256d0>,
 <__main__.Persona at 0x22d15b25ac0>]

In [10]:
def incrementar(persona):
    persona.edad += 1
    return persona

personas = map(incrementar,personas)

In [11]:
for persona in personas:
    print(persona)

Juan de 16 años
Marta de 17 años
Manuel de 77 años
Eduardo de 13 años

In [12]:
personas = [
    Persona("Juan", 35),
    Persona("Marta", 16),
    Persona("Manuel", 76),
    Persona("Eduardo", 12)
]

personas = map( lambda persona: Persona(persona.nombre, persona.edad+1), personas )

In [13]:
for persona in personas:
    print(persona)

Juan de 36 años
Marta de 17 años
Manuel de 77 años
Eduardo de 13 años